<% content_for(:extra_js) do %>
  <script type="text/javascript">
    var autocompleteInput = new autocomplete.GeocoderAutocomplete(
      document.getElementById("autocomplete"),
      '<%= ENV["GEOAPIFY_API_KEY"] %>',
      {
        type: 'postcode',
        placeholder: '<%= I18n.t('hero.search.placeholder') %>'
      });
    autocompleteInput.addFilterByCountry(['us']);
    document.getElementsByClassName('geoapify-autocomplete-input')[0].classList.add("input");
    autocompleteInput.on('select', (location) => {
      document.getElementsByName('properties')[0].value = encodeURIComponent(JSON.stringify(location.properties));
      Rails.fire(document.getElementById('search_form'), 'submit');
    });
  </script>
<% end %>

<div class="hero-body p-b-30">
  <div class="container">
    <h2 class="subtitle">
      <span class="has-text-centered is-block">
        <%= I18n.t('hero.search.subtitle') %>
      </span>
    </h2>
    <h1 class="title">
      <span class="is-size-2 has-text-centered is-block"><%= I18n.t('hero.search.title') %></span>
    </h1>
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="search-form">
          <%= form_tag('/api/v1/forecasts/search', id: 'search_form', remote: true, authenticity_token: false) do %>
            <input type="hidden" name="properties">
            <div id="autocomplete" class="autocomplete-container"></div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-7">
        <%= render "main_block" %>
      </div>
    </div>
  </div>
</div>
